[submodule "vim/.vim/pack/pjhades/start/vim-colorschemes"]
	path = vim/.vim/pack/pjhades/start/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "vim/.vim/pack/pjhades/start/nerdtree"]
	path = vim/.vim/pack/pjhades/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/.vim/pack/pjhades/start/rust"]
	path = vim/.vim/pack/pjhades/start/rust
	url = https://github.com/rust-lang/rust.vim.git
[submodule "vim/.vim/pack/pjhades/start/fzf.vim"]
	path = vim/.vim/pack/pjhades/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "vim/.vim/pack/pjhades/start/vim-lsp"]
	path = vim/.vim/pack/pjhades/start/vim-lsp
	url = git@github.com:prabirshrestha/vim-lsp.git
