[submodule "vim/.vim/pack/pjhades/start/vim-colorschemes"]
	path = vim/.vim/pack/pjhades/start/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "vim/.vim/pack/pjhades/start/nerdtree"]
	path = vim/.vim/pack/pjhades/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/.vim/pack/pjhades/start/rust"]
	path = vim/.vim/pack/pjhades/start/rust
	url = https://github.com/rust-lang/rust.vim.git
[submodule "vim/.vim/pack/pjhades/start/vim-grepper"]
	path = vim/.vim/pack/pjhades/start/vim-grepper
	url = https://github.com/mhinz/vim-grepper.git
[submodule "vim/.vim/pack/pjhades/start/c.vim"]
	path = vim/.vim/pack/pjhades/start/c.vim
	url = git@github.com:pulkomandy/c.vim.git
