#!/bin/bash

xset r rate 270 30
xrandr --dpi 190
xbacklight -set 60
xautolock -time 5 -locker 'i3lock --nofork --show-failed-attempts --color 121212' &
feh --bg-scale pic/desktop.jpg

export GTK_IM_MODULE=ibus
export QT_IM_MODULE=ibus
export XMODIFIERS=@im=ibus
